@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/***GLOBAL STYLES***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  scroll-behavior: smooth;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: transparent;
  color: #31e691;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/***NAVBAR***/
.navbar {
  background: #363636;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: transparent;
  background-size: 100%;
  color: #31e691;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #31e691;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1rem;
  background: transparent;
  border: 1px solid #31e691;
  border-radius: 7px;
  color: #31e691;
}

/***NAV RESPONSIVE DESIGN***/
@media screen and (max-width: 960px) {
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar__menu.active {
    background: #31e691;
    top: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
    opacity: 0.9;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__links:hover {
    background: #fff;
    color: #000;
    text-decoration: underline;
    border: 2px solid #fff;
  }
  .navbar__btn {
    border-radius: 7px;
    border: 2px solid #fff;
    background: #fff;
    width: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar__btn:hover {
    background: #fff;
    border: 2px solid #fff;
    opacity: 1;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/***HERO SECTION***/
.hero {
  padding: 200px 0;
  position: relative;
}

.hero::before {
  content: "";
  background-image: url("https://myliveupdates.com/wp-content/uploads/2018/09/blue-digital-information-technology-background-hero-header-2.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__container::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(rgba(46, 46, 46, 0.431)));
  background: linear-gradient(to top, #000, rgba(46, 46, 46, 0.431));
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.hero__heading {
  position: relative;
  font-size: 100px;
  margin-bottom: 24px;
  color: #dfdfdf;
}

.hero__description {
  position: relative;
  font-size: 30px;
  background-size: 100%;
  color: #dfdfdf;
}

.highlight {
  border-bottom: 4px solid #31e691;
}

/***RESPONSIVE HERO SECTION***/
@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }
  .hero__description {
    font-size: 25px;
  }
}

/***ABOUT SECTION***/
.main {
  background-color: #fff;
  padding: 10rem 0;
}

.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #363636;
  width: 100%;
}

.main__content h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 2rem;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  background-color: #333333;
  font-size: 1.4rem;
  padding: 15px 40px;
  border: none;
  border-radius: 7px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #31e691;
  text-decoration: none;
}

.main__btn:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
  margin-left: 20px;
}

.main__img--card {
  background: url("https://image.freepik.com/free-photo/smiling-male-consulting-client-online_1163-3987.jpg") no-repeat;
  -webkit-box-shadow: 5px 5px 15px #333333;
          box-shadow: 5px 5px 15px #333333;
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: url("https://image.freepik.com/free-photo/handshake-close-up-executives_1098-1384.jpg") no-repeat;
}

/***RESPONSIVE ABOUT SECTION***/
@media screen and (max-width: 1100px) {
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  .main__img--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__img--card {
    height: 425px;
    width: 425px;
  }
  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }
  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 2rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/***SERVICES SECTION***/
.services {
  background: #363636;
  color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services p {
  color: #dfdfdf;
}

.services__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.services__card {
  margin: 15px;
  height: 500px;
  width: 375px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #31e691;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border: 1px solid #31e691;
  border-radius: 7px;
  padding: 2rem;
}

.services__card h2 {
  margin-top: 10px;
  text-align: center;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 20px;
}

.services__card img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3rem auto;
  height: 250px;
  width: 100%;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #31e691;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #000;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/***RESPONSIVE SERVICES***/
@media screen and (max-width: 1300px) {
  .services__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

/***FOOTER SECTION***/
.footer__container {
  background-color: #333333;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer__logo {
  color: #3fd3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #31e691;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #dfdfdf;
  -webkit-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}

/***RESPONSIVE FOOTER***/
@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }
  #footer__logo {
    margin-bottom: 2rem;
  }
  .website__rights {
    margin-bottom: 2rem;
  }
  .footer__link--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social__media--wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */